<nav class="navbar navbar-expand-lg navbar-dark  fixed-top " style="background-color:#15181f;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/images/golfer-logo.png" width="250"></a>
      <button class="navbar-toggler"  (click)="isShown=!isShown" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " [ngClass]="{ 'show': isShown }" id="navbarScroll">
        <ul class="navbar-nav  ms-auto  my-2 my-lg-0  " >
          <li class="nav-item">
            <a class="nav-link" (click)="isShown = false" aria-current="page"  routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="isShown = false"  [routerLink]="['/leaderboard']" routerLinkActive="router-link-active" >Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="isShown = false"  [routerLink]="['/event']" routerLinkActive="router-link-active" >Events</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" (click)="isShown = false"   [routerLink]="['/gallery']" routerLinkActive="router-link-active" >Gallery</a>
          </li>
        
        </ul>
        <form class="d-flex">
           
            <button class="btn btn-red"  (click)="isShown = false" type="button"  [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact Us</button>
          </form>
      </div>
    </div>
  </nav>
