<app-navigation></app-navigation>
<div class="container-fluid pt-5 mt-5" class="gallery">
    <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center pt-5">
            <h3 class="mt-5">GOLFERS GUILD CHAMPIONSHIP TOURNAMENT</h3>
            <h4 class="text-danger">Hexadic March 2021</h4>
        </div>
    </div>
    <div class="row mt-5">

        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center ">
            <div class="container ">
                <div class="row">
                   
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/mar1.jpg" >
                        <img src="../../../assets/images/mar2.jpg" >
                        <img src="../../../assets/images/mar3.jpg">
                     
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/mar4.jpg">
                        <img src="../../../assets/images/mar5.jpg">
                        <img src="../../../assets/images/mar6.jpg">
                        <img src="../../../assets/images/mar10.jpg">

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/mar7.jpg">
                        <img src="../../../assets/images/mar8.jpg">
                        <img src="../../../assets/images/mar9.jpg">
                    </div>
              
                 
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center pt-3">
                        <a routerLink="/gallery" class="btn btn-danger" href="/gallery" >
                            GO BACK 
                        </a>
                    </div>
                </div>
            </div>
        </div>

       
     
    </div>

<app-footer></app-footer>