<app-navigation></app-navigation>
<div class="container-fluid mt-4 pt-5 bgclass">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 text-center">
            <img src="../../../assets/images/404.png" width="40%">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 text-center">
         <h4>OOPS !! Relax, Take it Easy.</h4>
         <p>We don't know how you got here. We just know you're not supposed to be here.</p>
         <p> <a routerLink="" class="btn btn-danger"  >    BACK TO HOMEPAGE  </a></p>
        </div>
    </div>
</div>
<app-footer></app-footer>