<div class="container-fluid p-0 ">
    <div class="row">
        <div class="col-12 col-sm-12 col-xs-12 col-lg-12 col-md-12 text-center">
            <app-navigation></app-navigation>
            <div class="container-fluid review d-flex flex-column align-items-center">
                <div class="row mt-auto">
                    <div class="col-10  col-sm-10 col-xs-12 col-lg-10 col-md-10 text-center">
                        <h1>
                            Your Golf Scores, at Your Fingertips: Track and Review
                        </h1>
                    </div>
                </div>
                <form class="row mb-auto" [formGroup]="filterGroup">
                    <div class="col-12 col-sm-4 col-lg-4 col-md-4 col-xs-12 ">
                        <div class=" mb-auto mx-auto">



                            <mat-form-field appearance="outline">
                                <mat-label> Year </mat-label>
                                <mat-icon matPrefix>people </mat-icon>
                                <mat-select formControlName="year" id="year" (selectionChange)="getMonthDetails()">

                                    <mat-option *ngFor="let item of yearData?.result;" [value]=item?.year>
                                        &nbsp;{{item.year}}</mat-option>
                                </mat-select>


                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-lg-4 col-md-4 col-xs-12 ">
                        <div class=" mb-auto mx-auto">

                            <mat-form-field appearance="outline">
                                <mat-label> Month </mat-label>
                                <mat-icon matPrefix>people </mat-icon>

                                <mat-select formControlName="month" id="year" (selectionChange)="getMonthWiseTour()">
                                    <mat-option *ngFor="let mnth of monthData?.result;let ij=index;"
                                        [value]="mnth.monthNum">{{mnth?.month}}</mat-option>
                                </mat-select>


                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-lg-4 col-md-4 col-xs-12  ">
                        <div class=" mb-auto mx-auto">


                            <mat-form-field appearance="outline">
                                <mat-label> Tournament </mat-label>
                                <mat-icon matPrefix>people </mat-icon>

                                <mat-select formControlName="tour" id="tour" (selectionChange)="summryTable()" 
                                [(value)]="selectedTournament">
                                    <mat-option *ngFor="let tourData of tournamentDetails;let ij=index;"
                                        [value]="tourData.tourID">{{tourData?.tournamentName}}</mat-option>
                                </mat-select>
                             

                            </mat-form-field>
                            <p>You selected: {{selectedTournament}}</p>
                         <!-- <select id="eventTourList" class="mr-2">
                                <option [ngValue]="null" disabled>Select Tournament</option>


                                <option class=" mr-2 mb-4  " *ngFor="let tourData of tournamentDetails;let ij=index;"
                                    [ngClass]="{'btn-white': tourData?.tournamentName !=this.selectedTournament,'redBtn':tourData?.tournamentName==this.selectedTournament}"
                                    (click)="getRoundDetailByID(tourData?.tourID,tourData?.roundId);this.selectedTournament=tourData?.tournamentName">
                                    {{tourData?.tournamentName | titlecase}}
                                </option>
                            </select>  -->
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<div id="lead" class="container-fluid">


    <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
            <h3 class="mt-5 text-danger"><b>GOLFERS GUILD TOURNAMENT 2023</b></h3>
            <p class="">54 holes, Individual Strokeplay contest designed to bring out the best of both - Golf & The Golfer. </p>
          
        </div>
    </div>
    <div class="row">
        <div class="col-5 col-lg-5 col-sm-5 col-xs-12 col-md-5 mx-auto ">
            <p class="text-right" ><mat-icon  style="font-size:16px;color:#FE0000;">calendar_today</mat-icon><b> Date</b> : 17, 19, 20 April 2023</p>

        </div>
        <div class="col-5 col-lg-5 col-sm-5 col-xs-12 col-md-5 mx-auto text-left">

            <p><mat-icon style="font-size:16px;color:#FE0000"> location_on</mat-icon><b>Venue</b> : Golden Greens & ITC Classic</p>
                     
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
            <div class="container-fluid" id="smlltable">
                <div class="row">
                    <div class="col-12 col-lg-12 col-sm-12 col-md-12 col-xs-12">
                  
                        <div class="div-static">
                            <div class="div-scrollsmall">
                                <table class="table bg-light table-responsive" width="100%" datatable
                                    [dtOptions]="dataOption" *ngIf="combinedplayerData.length > 0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-left ">Players </th>
                                            <th scope="col" *ngFor="let roundName of this.roundsArr">
                                                <span style="min-width:30px;text-align: left;">
                                                    {{roundName}}
                                                </span>
                                            </th>
                                            <th scope="col" sortable="gross">Gross</th>
                                            <th scope="col" sortable="net">NET</th>
                                            <th scope="col" sortable="birdie">Birdies</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let score of combinedplayerData; let i=index "
                                            style="background-color: #fff;">
                                            <td class="text-left">{{score?.playerName | titlecase}}</td>
                                            <td *ngFor="let round of this.roundsArr;let i=index">
                                                <span style="min-width:50px;text-align: left;">
                                                    {{score?.round[i]?.score}} </span>
                                            </td>
                                            <td>{{score?.TotalGross}}</td>
                                            <td>{{score?.TotalNet}}</td>
                                            <td>{{score?.TotalBirdie}}</td>
                                            <td (click)="score.isExpand=!score.isExpand;clickedRow=score">
                                                <mat-icon>people </mat-icon>{{clickedRow}}</td>

                                              

                                        </tr>
                                        <tr *ngIf="clickedRow && clickedRow.isExpand">
                                            <td colspan="6">
                                                <table>
                                                    <tr>
                                                        <td>   <ul class="nav-tabs">
                                                            <li>
                                                                <a class="btn btn-red mr-2 mt-1 mb-2" *ngFor="let item of roundData?.result"
                                                                    (click)="getRoundDetailByID(item?.tourID,item?.round_Id)">{{item?.round_name}} </a>
                                
                                                                <div class="div-static" *ngFor="let rd of scoreData;let ij=index;">
                                                                    <div class="div-scroll">
                                                                        <table class="table table-striped bg-light table-hover" datatable
                                                                            [dtOptions]="dtOptions2" id="">
                                                                            <thead>
                                                                                <tr>
                                
                                                                                    <th scope="col" colspan="5" class="holeboxBg text-left">
                                                                                        <h6>{{rd.data[0]?.course}} <img
                                                                                                src="../../../assets/images/loc.svg"></h6>
                                                                                    </th>
                                
                                
                                                                                </tr>
                                
                                                                                <tr>
                                                                                    <td scope="col" class="holebox2 text-left" colspan="2">
                                                                                        &nbsp;&nbsp;Holes</td>
                                                                                    <td>
                                                                                        <span>1</span>
                                                                                        <span>2</span>
                                                                                        <span>3</span>
                                                                                        <span>4</span>
                                                                                        <span>5</span>
                                                                                        <span>6</span>
                                                                                        <span>7</span>
                                                                                        <span>8</span>
                                                                                        <span>9</span>
                                                                                        <span class="text-danger bg-white">OUT</span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <span>10</span>
                                                                                        <span>11</span>
                                                                                        <span>12</span>
                                                                                        <span>13</span>
                                                                                        <span>14</span>
                                                                                        <span>15</span>
                                                                                        <span>16</span>
                                                                                        <span>17</span>
                                                                                        <span>18</span>
                                                                                        <span class="text-danger bg-white">IN</span>
                                                                                    </td>
                                
                                
                                
                                
                                
                                                                                    <th scope="col" class="holebox2">&nbsp;</th>
                                                                                </tr>
                                                                                <tr class="bgRed">
                                
                                
                                                                                    <td scope="row" class="holebox2 text-left " colspan="2">
                                                                                        &nbsp;&nbsp;Par</td>
                                
                                                                                    <td *ngFor="let part of rd.data[0]?.par" width="">
                                                                                        <span *ngFor="let par of part.parValue">
                                                                                            {{par}}
                                                                                        </span>
                                                                                        <span class=""><b class="">{{part.parsum}}</b></span>
                                                                                    </td>
                                                                                    <th scope="col" class="holebox2">&nbsp;</th>
                                                                                </tr>
                                                                                <tr class="bgRed">
                                
                                
                                                                                    <td scope="row" class="holebox2 text-left " colspan="2">
                                                                                        &nbsp;&nbsp;Index</td>
                                
                                                                                    <td *ngFor="let hdc of rd.data[0]?.hdcap" width="">
                                                                                        <span *ngFor="let hdcp of hdc.hcdpValue">
                                                                                            {{hdcp}}
                                                                                        </span>
                                                                                        <span class=""><b class="p-3">&nbsp;</b></span>
                                                                                    </td>
                                                                                    <th scope="col" class="holebox2">&nbsp;</th>
                                                                                </tr>
                                                                                <tr>
                                
                                                                                    <td scope="col" class="holebox2 text-left" colspan="2">
                                                                                        &nbsp;&nbsp;Players</td>
                                
                                                                                    <th width="350"><span class="text-danger bg-white">&nbsp;</span>
                                                                                    </th>
                                
                                                                                    <th width="350"><span class="text-danger bg-white">&nbsp;</span>
                                                                                    </th>

                                                                                    <th scope="col" class="holebox2 birdiBox text-center" width="50">
                                                                                        <span *ngIf="tournamentDetails.eventType=='1'">SFP</span>
                                                                                    </th>
                                                                                </tr>
                                
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr *ngFor="let player of rd.data;let k=index">
                                
                                
                                                                                    <th scope="row" class="starbg" width="40"> </th>
                                                                                    <td class="holebox2" width="150">
                                                                                        <span class="overflow">{{ player?.board?.playerName | titlecase
                                                                                            }} </span> <mat-icon style="color:#fcb430;font-size:14px;"
                                                                                            (click)="isSfpShown=!isSfpShown;clickedRecordIndex=k">info</mat-icon>
                                                                                    </td>
                                
                                
                                                                                    <td *ngFor="let partt of player?.board?.score" width="350">
                                                                                        <span *ngFor="let score of partt.scoreArr;let ik=index">
                                                                                            <span class="{{ getactiveClass(partt,ik)}}">{{score}}</span>
                                                                                        </span>
                                                                                        <span class=""><b>{{partt.scoresum}}</b></span>
                                                                                    </td>
                                
                                
                                                                                   
                                                                                    <th class="holebox2 text-center">
                                                                                        <span
                                                                                            *ngIf="tournamentDetails.eventType=='1'">{{(player?.stf[0]?.stfSum)+(player?.stf[1]?.stfSum)}}
                                                                                        </span>
                                                                                    </th>
                                                                                </tr>
                                
                                
                                
                                                                                <tr class="bgRed"
                                                                                    *ngIf="tournamentDetails.eventType=='1' && isSfpShown">
                                                                                    <th scope="row" class="holebox2" width="40"> &nbsp;</th>
                                                                                    <td class="holebox2 text-center" scope="row">
                                                                                        SFP
                                                                                    </td>
                                
                                
                                                                                    <td *ngFor="let stf of rd.data[clickedRecordIndex]?.stf" width="350">
                                                                                        <span *ngFor="let stfData of stf.stfValue;let ik=index">
                                                                                            <!-- <span class="{{ getactiveClass(stf,ik)}}"> -->
                                                                                            {{stfData}}
                                                                                            <!-- </span> -->
                                                                                        </span>
                                                                                        <span class=""><b>{{stf.stfSum}}</b></span>
                                                                                    </td>
                                
                                
                                                                                    <td class="">0 </td>
                                                                                    <td class="">0</td>
                                                                                    <th>0 </th>
                                                                                    <th scope="col" class=" text-center">
                                                                                        0
                                
                                                                                    </th>
                                                                                    <th class="holebox2 text-center">
                                                                                        0
                                                                                        <!-- <span *ngIf="tournamentDetails.eventType=='1'">{{(stf?.stf[0]?.stfSum)+(player?.stf[1]?.stfSum)}} </span></th> -->
                                                                                    </th>
                                                                                </tr>
                                                                            </tbody>
                                                                            <tfoot>
                                                                                <tr>
                                                                                    <th scope="col" colspan="" class="holeboxBgFootL"></th>
                                                                                    <td scope="col" colspan="3" class="holeboxBgFoot text-left">
                                                                                        <table class="table-condensed  text-white">
                                                                                            <tr>
                                                                                                <td><span class="dblcircle">&nbsp;</span>&nbsp;<i
                                                                                                        class="pt-2">Eagle</i></td>
                                
                                
                                                                                                <td><span class="circle">&nbsp;</span> &nbsp;Birdie</td>
                                
                                
                                                                                                <td><span class="rect1">&nbsp;</span> &nbsp; Bogey </td>
                                
                                
                                                                                                <td><span class="rect2">&nbsp;</span> &nbsp; Double
                                                                                                    bogey</td>
                                                                                                <td><span class="rect3">&nbsp;</span> &nbsp; Triple
                                                                                                    bogey </td>
                                
                                                                                                <td>&nbsp;</td>
                                                                                            </tr>
                                
                                                                                        </table>
                                                                                    </td>
                                
                                                                                    <th scope="col" class="holeboxBgFootR"> &nbsp;</th>
                                
                                                                                </tr>
                                                                            </tfoot>
                                                                        </table>
                                
                                                                    </div>
                                                                </div>
                                
                                
                                
                                
                                
                                                                <!-- </ng-template> -->
                                
                                
                                                            </li>
                                
                                
                                
                                                        </ul>{{clickedRow.playerName}}</td>

                                                    </tr>
                                                </table>
                                                
                                               




                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>




   

</div>

<h5 id="msg" *ngIf="(scoreData.length==0) && dnotfound==true" class="text-center btn-danger text-white"> You swing your
    best when you have the fewest things to think about.</h5>

<ng-template #content let-modal>

    <div class="modal-header">

        <img src="../assets/images/paceofplay.jpeg" width="100%">
    </div>

</ng-template>

<app-footer></app-footer>