
  <footer>
    <div class="container-fluid  pt-4 pb-4 bg-drkgrey" id="footer">
		  <div class="container">
  				<div class="row mb-3">
				
				<div class="col-lg-4 col-12 col-sm-6 col-md-4 col-xs-12  text-left mb-3">
						
					<img src="../assets/images/golfer-logo.png" width="100%"  >
						
					</div>
					<div class="col-lg-8 col-12 col-sm-6 col-md-8 text-left  ">
						
						
						<p class="text-justify">A Dedicated effort towards raising the level of golf played at club level. Highly competitive platform, ensuring fair game for low handicappers. In a nutshell, Pure Golf - Nothing Else !</p>
					</div>
				</div>

        
				<div class="row ">
				
					
					<div class="col-lg-4 col-12 col-sm-12 col-md-4 text-left   pt-4" id="quickLink">
						<div class="row mb-4">
							<div class="col-lg-12 col-12 col-sm-12 col-md-12 ">
								<h5 class="mb-5">CONTACT US</h5>
							</div>
						</div>
					
							<div class="row mb-2">
							<div class="col-lg-2 col-2 col-sm-2 col-md-2 ">
								
								<img src="../assets/images/phone.svg" width="100" alt="Golfers guild contact">
							</div>
								<div class="col-lg-10 col-10 col-sm-10 col-md-10 pt-1">
							
									<p>
                  +91 8130 695 666	</p>
							</div>
						</div>
            <div class="row mb-2">
                  <div class="col-lg-2 col-2 col-sm-2 col-md-2 ">
								<img src="../assets/images/mail.svg" width="90%" alt="Golfers guild mail">
							</div>
              <div class="col-lg-10 col-10 col-sm-10 col-md-10 pt-1">
						
								<p> info@golfersguild.in</p>
							</div>
						</div>
            <div class="row mb-2">
              <div class="col-lg-2 col-2 col-sm-2 col-md-2 ">
								<img src="../assets/images/loaction.svg" width="90%" alt="Golfers guild location">
							</div>
              <div class="col-lg-10 col-10 col-sm-10 col-md-10 pt-1">
				
								<p>
									WeWork, 3rd Floor, Behind 32nd Milestone Off NH 8, Sector 15 , Gurugram, Haryana - 122001</p>
							</div>
						</div>
					</div>
						
					<div class="col-lg-4 col-12 col-sm-12 col-md-4 text-left pt-4 " id="prod">
						
						<div class="row mb-4">
							<div class="col-lg-12 col-12 col-sm-12 col-md-12 ">
								<h5 class="mb-5">COMING FEATURES</h5>
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-lg-12 col-12 col-sm-12 col-md-12 ">
								<p>Multiple format Tournament Platform</p>
								<p>Coaching & Training Platform</p>
								<p>Attractive Membership Plans</p>
							</div>
						</div>
						
					

							
			
							
					</div>
					
					<div class="col-lg-4 col-12 col-sm-12 col-md-4 text-left pt-4 ">
						<div class="row mb-4">
							<div class="col-lg-12 col-12 col-sm-12 col-md-12 ">
								<h5 class="mb-4">QUICK LINKS</h5>
							</div>
						</div>
					
					
						<div class="row">
					
								<div class="col-lg-12 col-12 col-sm-12 col-md-12 fontClass">
						
								<p><a  [routerLink]="['/leaderboard']">Leaderboard</a></p>
                <p><a [routerLink]="['/event']">Events</a></p>
                <p><a [routerLink]="['/contact']">Contact Us</a></p>
                
							</div>
						</div>
						<div class="row mt-4">
						    
							
								<div class="col-lg-2 col-2 col-sm-2 col-md-2 mb-3">
								    	<a href="https://www.facebook.com/Golfers-Guild-104051978393634" target="_blank" >	<img src="../assets/images/Group992.svg" width="100%" alt="golfers guild facebook page"></a>
							
							</div>
								<div class="col-lg-2 col-2 col-sm-2 col-md-2 mb-3">
								    	<a href="https://www.linkedin.com/company/golfers-guild/"  target="_blank">	<img src="../assets/images/Group993.svg" width="100%" alt="golfers guild linkedin"></a>
							
							</div>
								<div class="col-lg-2 col-2 col-sm-2 col-md-2 mb-3">
								    	<a href="https://instagram.com/golfersguild?utm_medium=copy_link" target="_blank">	<img src="../assets/images/Group997.svg" width="100%" alt="golfers guild instagram"></a>
							
							</div>
								<div class="col-lg-2 col-2 col-sm-2 col-md-2 mb-3">
								    	<a href="https://www.youtube.com/channel/UCjgf3bptU4tLcI6cpl5qR0A"  target="_blank">	<img src="../assets/images/Group998.svg" width="100%" alt="golfers guild youtube chnanel"></a> 
							    
						    	</div>
						</div>
						
						
					</div>
				</div>
				<div class="row" style="display: none;">
				<div class="col-lg-11 col-12 col-sm-11 col-md-11">
				</div>
					<div class="col-lg-1 col-12 col-sm-1 col-md-1">
					
					   <h5 class="float-right" ><a href="#" id="back-to-top"><img src="images/Movetop.svg" width="75%" height="90%" alt="echelonedge"></a></h5>
					</div>
				</div>
		</div>
	
	</div>
  	<div class="container-fluid pt-1 bg-dark" id="">
			<div class="row">
				<div class="col-lg-12 col-12 col-sm-12 col-md-8 text-center pt-1">
					<p>Copyright ©2022 GOLFERS' GUIL​D | All Right Reserved  | Terms & Condition | <a [routerLink]="['/privacy']" class="text-white">Privacy Policies</a></p>
				</div>
			
			</div>
	</div>
	 


  </footer>
