


  
     
        <div class="sidebox">

            <div class="container-fluid pt-3 pb-3 mt-1">
                <div class="row">
                    <div class="col-lg-2 col-sm-2 col-xs-3 col-md-2">
                        <div class="smallBox">
                            <h2>00</h2>
                            <p>Out Holes</p>
                        </div>
                      </div>
                      <div class="col-lg-2 col-sm-2 col-xs-3 col-md-2">
                        <div class="smallBox">
                            <h2>00</h2>
                            <p>In Holes</p>
                        </div>
                      </div>
                      <div class="col-lg-2 col-sm-2 col-xs-3 col-md-2">
                        <div class="smallBox">
                            <h2>00</h2>
                            <p>Gross</p>
                        </div>
                      </div>
                      <div class="col-lg-2 col-sm-2 col-xs-3 col-md-2">
                        <div class="smallBox">
                            <h2>00</h2>
                            <p>HDCP</p>
                        </div>
                      </div>
                      <div class="col-lg-2 col-sm-2 col-xs-3 col-md-2">
                        <div class="smallBox">
                            <h2>00</h2>
                            <p>Net</p>
                        </div>
                      </div>
                      <div class="col-lg-2 col-sm-2 col-xs-3 col-md-2">
                        <div class="smallBox">
                            <h2>00</h2>
                            <p>Birdie</p>
                        </div>
                      </div>
                </div>
            </div>
       </div>
            <form #leaderboardForm (ngSubmit)="onSubmit()">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <h4 class="mt-3 mb-3 text-red">Leaderboard Data Entry</h4>

                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                            <label for="playername">Player's Name </label>
                                               <select id="playername"  formControlName="playername" class="form-select mb-3"  >
                                                     <option  selected >Select Player's Name</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <label for="score1">Score </label>

                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score1" type="text" formControlName="score1" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score2" type="text" formControlName="score2" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                           
                                            <input id="score3" type="text" formControlName="score3" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                        
                                            <input id="score4" type="text" formControlName="score4" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                       
                                            <input id="score5" type="text" formControlName="score5" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score6" type="text" formControlName="score6" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score7" type="text" formControlName="score7" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score8" type="text" formControlName="score8" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score9" type="text" formControlName="score9" class="form-control">
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score10" type="text" formControlName="score10" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score11" type="text" formControlName="score11" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score12" type="text" formControlName="score12" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                           
                                            <input id="score13" type="text" formControlName="score13" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                        
                                            <input id="score14" type="text" formControlName="score14" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                       
                                            <input id="score15" type="text" formControlName="score15" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score16" type="text" formControlName="score16" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score17" type="text" formControlName="score17" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-xs-2 col-sm-1">
                                          
                                            <input id="score18" type="text" formControlName="score18" class="form-control">
                                        </div>
                                      

                                    </div>


                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                            <label for="tdate">Date</label>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                            <label for="coursename">Course </label>
                                            <select id="coursename"  formControlName="coursename" class="form-select mb-3" >
                                                <option  selected>Select Course</option>

                                           </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                            <label for="round">Round </label>
                                            <select id="round"  formControlName="round" class="form-select mb-3" >
                                                <option selected>Select Round</option>
                                                <option value="r1">Round 1</option>
                                                <option value="r2">Round 2</option>
                                                <option value="r3">Round 3</option>
                                                <option value="r4">Round 4</option>


                                           </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                            <label for="hdcp">Player's HDCP </label>
                                            <input id="hdcp" type="text" formControlName="hdcp" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                                            <button type="button"  class="btn redbtn" (click)="calculateResult();" id="calculateResult">Show Results <img src="../../../assets/images/right-arrow.svg"></button>
                                        </div>
                                    </div>
                                </div>
</div>
  

                           
                          
                           
                            </div>
                        </div>
                    </div>
                           <p class="text-right">
                            <button type="submit" class="btn redbtn ">Submit Results <img src="../../../assets/images/right-arrow.svg"></button>
                        </p>
                    </form>

                       
              




    

