<app-navigation></app-navigation>
<div class="container-fluid pt-5 mt-5" class="gallery">
    <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center pt-5">
            <h3 class="mt-5">GOLFERS GUILD CHAMPIONSHIP TOURNAMENT</h3>
            <h4 class="text-danger">INVITATIONAL JANUARY 2021 </h4>
        </div>
    </div>
    <div class="row mt-5">

        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center ">
            <div class="container ">
                <div class="row">
                   
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/jan1.jpg" >
                        <img src="../../../assets/images/jan2.jpg" >
                        <img src="../../../assets/images/jan3.jpg">
                        <img src="../../../assets/images/jan4.jpg">
                        <img src="../../../assets/images/jan13.jpg">    
                     
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      
                        <img src="../../../assets/images/jan5.jpg">
                        <img src="../../../assets/images/jan6.jpg">
                        <img src="../../../assets/images/jan7.jpg"> 
                         <img src="../../../assets/images/jan8.jpg">
                         <img src="../../../assets/images/jan14.jpg">
                        
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/jan9.jpg">
                        <img src="../../../assets/images/jan10.jpg">
                        <img src="../../../assets/images/jan11.jpg">
                        <img src="../../../assets/images/jan12.jpg">
                        <img src="../../../assets/images/jan15.jpg">
                    </div>
              
                 
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center pt-3">
                        <a routerLink="/gallery" class="btn btn-danger" href="/gallery"  >
                            GO BACK 
                        </a>
                    </div>
                </div>
            </div>
        </div>

       
     
    </div>
<app-footer></app-footer>