<div id="sponsr" class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-3 pt-2 pl-2 text-center">
            <h2> Our <span class="text-red "> SPONSORS</span></h2>
        </div>
        <div class="col-lg-10 col-md-10 col-xs-12 col-sm-10">
            <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
        </div>
   
        
        

    </div>
    <div class="row">
        <div class="col-12">
           
        </div>
    </div>
 </div>
 