 <app-navigation></app-navigation>
<div class="container-fluid pt-5 mt-5" class="gallery">
    <div class="row pt-5 mt-5">
        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center">
           <h3> <i>Don’t fear the Bogey Man,</i></h3><h3>  <i>Go Birdie Watching.</i></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">

                        <a routerLink="/november20"> <img src="../../assets/images/golf1.png" width="100%"></a>
                        <a routerLink="/march21" > <img src="../../assets/images/golf3.png" width="100%"></a>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
                        <a routerLink="/january21" ><img src="../../assets/images/golf2.png" width="100%"></a>
                        <a   routerLink="/september21"><img src="../../assets/images/golf4.png" width="100%"></a>
                    </div>
                </div>

            </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a routerLink="" class="btn btn-danger"  >
                GO BACK 
            </a>
        </div>
    </div>
      
      
    </div>
</div>
<app-footer></app-footer>