<app-navigation></app-navigation>
<div class="container-fluid pt-5 mt-5 bgclass" id="privacy" >
    <div class="container">
    <div class="row">
				
        <div class="col-12 col-lg-12 col-sm-12 col-md-12">
            <h1 class="text-center text-red mb-4">Privacy Policy & Cookie Usage</h1><br>		
                <h3 class=" ">Section 1- What do we do with your information?</h3>
                    <p>We collect the personal information you give us such as your name, address, email address, phone number.</p>
                    <h5><strong>Email marketing (if applicable):</strong></h5>
                    <p>With your permission, we may send you emails about our website, new products and other updates.</p>
                    <h5><strong>To improve customer service: </strong></h5>
                    <p>your information helps us to more effectively respond to your customer service requests and support needs.	</p>
                    <h5><strong>To process transactions:</strong></h5>
                    <p>your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.	</p>
                    
                    <h3 class=" ">Section 2. Consent</h3>
                    
                    <h5><strong>How do you get my consent?</strong></h5>
                    <p>	If we ask for your personal information for a reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</p>
                    <h5><strong>How do I withdraw my consent?</strong></h5>
                    <p>If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at <span class="text-green">info@golfersguild.in</span>	</p>
                    
                    <h3 class=" ">Section 3. Disclosure</h3>
                                        
                    <p>We may disclose your personal information if we are required by law to do so.	</p>
                    
                    <h3 class=" ">Section 4- Third-party services</h3>
                    <p>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>
<p>However, certain third-party service providers, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
<p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>
<p>In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</p>
<p>Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this privacy policy or our website’s terms of service.</p>
                
                    
                    <h5><strong>Links</strong></h5>
                    <p>When you click on links on our website, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.	</p>
                    
                    <h3 class=" ">Section 6- Security</h3>
                                    
                    <p>	To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>					
                    <h3 class=" ">Section 7- Cookies</h3>
                    <p>We use cookies to maintain session of your user. It is not used to personally identify you on other websites.</p>
                    
                    <h3 class=" ">Section 8- Age of Consent</h3>
                    
                    
                    <p>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>
                    <h3 class=" ">Section 9- Changes to this Privacy Policy</h3>
                    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>
            <p>If our website is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>
            <p>“As you access and use our services, we collect certain information from you, including but not limited to, phone number, email address, device make-details, and IP address. By accessing and using our services, you expressly consent to the sharing and disclosure of your information so collected, with our third-party service providers, business partners, and agents.</p>    

                <h3 class="">Questions and Contact Information</h3>
                    <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact us by mail at <span class="text-green">info@golfersguild.in</span></p>
    </div>				






</div></div>
</div>
<app-footer></app-footer>
