
<app-navigation></app-navigation>
<div class="container-fluid  mt-5 pt-5 bgclass" >
    <div class="row">
      
  
        <div class="col-xs-12 col-sm-5 col-lg-5 col-md-5 text-center ">
         <h1>Thank you for </h1>
          <h1 class="text-red">Swinging By !</h1>
         <p class="pt-3">Our team will get back to you in a short while.</p>
         <p> <a routerLink="" class="btn btn-danger"  >    BACK TO HOMEPAGE  </a></p>
        </div>
        <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 text-center">
            <img src="../../../assets/images/thanku.svg" width="100%">
        </div>
    </div>
</div>
<app-footer></app-footer>