<app-navigation></app-navigation>
<div class="container-fluid pt-5 mt-5" class="gallery">
    <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center pt-5">
            <h3 class="mt-5">GOLFERS GUILD CHAMPIONSHIP TOURNAMENT</h3>
            <h4 class="text-danger">INVITATIONAL SEPTEMBER 2021</h4>
        </div>
    </div>
    <div class="row mt-5">

        <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center ">
            <div class="container ">
                <div class="row">
                   
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/golf-9.jpg" >
                        <img src="../../../assets/images/golf-10.jpg" >
                        <img src="../../../assets/images/golf-11.jpg">
                        <img src="../../../assets/images/golf-15.jpg">
                        <img src="../../../assets/images/golf-17.jpg">
                        <img src="../../../assets/images/sept8.jpg">
                        <img src="../../../assets/images/sept9.jpg">
                        <img src="../../../assets/images/golf-7.jpg">
                     
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/golf-12.jpg">
                        <img src="../../../assets/images/golf-13.jpg">
                        <img src="../../../assets/images/golf-14.jpg">
                        <img src="../../../assets/images/sept1.jpg">
                     
                        <img src="../../../assets/images/sept11.jpg">
                        <img src="../../../assets/images/golf-16.jpg">
                        <img src="../../../assets/images/golf-5.jpg">
                       

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="../../../assets/images/sept.jpg">
                        <img src="../../../assets/images/sept1.jpg">
                        <img src="../../../assets/images/sept10.jpg">
                        <img src="../../../assets/images/sept7.jpg">
                        <img src="../../../assets/images/sept2.jpg">
                        <img src="../../../assets/images/golf-8.jpg">
                    </div>
              
                 
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-sm-12 col-xs-12 col-md-12 text-center pt-3">
                        <a routerLink="/gallery" class="btn btn-danger"  >
                            GO BACK 
                        </a>
                    </div>
                </div>
            </div>
        </div>

       
     
    </div>
    <app-footer></app-footer>


