<div class="container-fluid" id="testi">
    <div class="row">
        <div class="col-12">

   
<ngb-carousel  id="innerTesti">
    <ng-template ngbSlide>
      <div class="row">
      <div class="col-sm-3 col-xs-12 col-lg-3 col-md-3 picsum-img-wrapper">
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/rishi.png" width="100">
        <h6 >RISHI PODDAR</h6>
       <img src="../../../assets/images/facebook.svg">&nbsp; <img src="../../../assets/images/linkedin.svg">&nbsp; <img src="../../../assets/images/twitter.svg"> &nbsp; <img src="../../../assets/images/instagram.svg">
      </div>
    </div>
    <div class="col-sm-9 col-xs-12 col-lg-9 col-md-9">
      <div class="carousel-caption">
   
        <p><img src="../../../assets/images/left.svg"  width="30" >&nbsp; It is my pleasure to recommend Golfer's Guild for being a wonderful group of golf enthusiasts who play the game with a lot of passion, in a competitive but friendly spirit and love to encourage others in the group. Look forward to the next event of intense competition. Best wishes to the Golfers' Guild for the coming season and thereafter. &nbsp; <img src="../../../assets/images/right.svg" width="30"> </p>
      </div>
    </div>
  </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="row">
        <div class="col-sm-3 col-xs-12 col-lg-3 col-md-3 picsum-img-wrapper">
          <div class="picsum-img-wrapper">
            <img src="../../assets/images/pulak.png" width="100">
            <h6 >PULAK CHAKRABORTHY</h6>
            <img src="../../../assets/images/facebook.svg">&nbsp; <img src="../../../assets/images/linkedin.svg">&nbsp; <img src="../../../assets/images/twitter.svg"> &nbsp; <img src="../../../assets/images/instagram.svg">
          </div>
      </div>
      <div class="col-sm-9 col-xs-12 col-lg-9 col-md-9">
      <div class="carousel-caption">
  
        <p><img src="../../../assets/images/left.svg"  width="30" >&nbsp; Participating in 2021 summer season of Golfers Guild was a refreshing experience. The three - round stroke play tourney pushed everyone to bring out their best .
            Everything was well orchestrated but the highlight was the prize ceremony evening with family get together. My best wishes for the Guild to become a unique platform for serious golfers. &nbsp; <img src="../../../assets/images/right.svg" width="30"></p>
      </div>
      </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="row">
        <div class="col-sm-3 col-xs-12 col-lg-3 col-md-3 picsum-img-wrapper">
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/aseem.png" width="100">
        <h6 >ASEEM VIVEK</h6>
        <img src="../../../assets/images/facebook.svg">&nbsp; <img src="../../../assets/images/linkedin.svg">&nbsp; <img src="../../../assets/images/twitter.svg"> &nbsp; <img src="../../../assets/images/instagram.svg">
        
      </div>
      </div>
      <div class="col-sm-9 col-xs-12 col-lg-9 col-md-9">
      <div class="carousel-caption">
      
        <p><img src="../../../assets/images/left.svg"  width="30" >&nbsp; Golfers Guild is a commendable effort by young guns Gaurav and Manjit to bring together golfers and organize serious tournaments amongst them. I love the spirit of competitiveness which all members share. The tournaments are very well organized with interesting formats thrown in. The motto of group is “Its serious golf guys! And may the best performer win”.  This environment makes a golfer give his best and focus on his game. Golfers’ Guild has a special place in my heart, as here golf is always played in its true spirit. These tournaments have helped me improve my game so I can compete with other low handicappers. &nbsp; <img src="../../../assets/images/right.svg" width="30"></p>
      </div>
      </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
</div>
</div>