<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6 text-dark">
            <div class="p-5 login-container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12  text-center">
                        <img src="../../../assets/images/GolfersGuild_Logo.png" width="250">
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 form-signin">
                        <h6 class="text-blue text-center "></h6>
                        <h5 class="text-center  darkBlue pt-3 ">Hello Golfers !</h5>
                        <p>Please enter your username & password to login</p>

                        <form [formGroup]="loginForm">


                            <mat-form-field class="col-sm-12 col-xs-12" appearance="outline">
                                <mat-label>Email* </mat-label>
                                <input maxlength=50 matInput type="email" placeholder="Email Id" formControlName="email"
                                    maxlength="50" id="email" />
                                <mat-icon matPrefix>person_outline&nbsp;</mat-icon>
                                <mat-error *ngIf="loginForm.controls['email'].errors?.required">
                                    Please enter email address
                                </mat-error>
                                <mat-error *ngIf="loginForm.controls['email'].errors?.pattern">
                                    Please enter valid emailAddress
                                </mat-error>
                            </mat-form-field>
                        

                            <mat-form-field class="col-sm-12 col-xs-12" appearance="outline">
                                <mat-label>Password* </mat-label>
                                <input maxlength=50 matInput [type]="hide ? 'password' : 'text'" type="password"
                                    formControlName="password" maxlength="50" id="password" />
                                    <mat-icon matPrefix>lock_outline&nbsp;</mat-icon>
                                    <button mat-icon-button matSuffix  (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="loginForm.controls['password'].errors?.required">
                                    Please enter password
                                </mat-error>
                            </mat-form-field>
                         



                            <button type="submit" class="btn btn-primary btn-block mt-3"
                                [disabled]="!this.loginForm.valid" (click)="onClickLogin()">Login</button>
                        </form>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6  m-0 p-0 sideimage text-center">
            <img src="../../../assets/images/admin/admin-login.png" width="100%">

        </div>
    </div>

</div>